{
  "presets": [
    [
      "@babel/preset-env", {
        "loose": true,
        "modules": false,
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator",
          "transform-typeof-symbol"
        ]
      }
    ]
  ]
}
